In [2]:
import pandas as pd

In [3]:
import numpy as np

In [18]:
df = pd.DataFrame({'A': [1,2,3], 'B': [1.0,2.0,np.nan], 'C': [1j, 2j, 3j]})

In [19]:
df.head()

   A    B         C
0  1  1.0  0.0+1.0j
1  2  2.0  0.0+2.0j
2  3  NaN  0.0+3.0j

In [20]:
df['E']=np.nan

In [21]:
df.head()

   A    B         C   E
0  1  1.0  0.0+1.0j NaN
1  2  2.0  0.0+2.0j NaN
2  3  NaN  0.0+3.0j NaN

In [22]:
df.isnull().sum()

A    0
B    1
C    0
E    3
dtype: int64

In [23]:
len(df)

3

In [30]:
column_name = df.apply(lambda x: str(x.name) if x.isnull().sum() == len(x) else '')

In [31]:
column_name

A
B
C
E    E
dtype: object

In [32]:
list(filter(lambda x: x!= '', column_name))

['E']